<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BaseUri" value="https://github.com/blanquete/ApiClient-ApiWeb.git"/>
    <!-- Per local posar https://localhost:44351/api/ -->
    <!-- Per azure posar https://api-campalans.azurewebsites.net/ -->
    <!-- http://campalans.somee.com/campalans/api/ -->
  </appSettings>
</configuration>